!!! 5

%html

	%head
		%meta(charset="utf-8")
		%title thursdayateight
		%link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css')
		%link(href="css/contact.css" rel="stylesheet")	

	%body
		%nav
			%h1
				%a(class="nav-title" href="index.html")thursdayateight
			%ul(class="pages")
				%li(class="nav-list")
					%a(href="experiments.html")experiments
				%li(class="nav-list")
					%a(href="portfolio.html")portfolio
				%li(class="nav-list")
					%a(href="photography.html")photography
				%li(class="nav-list")
					%a(href="contact.html")contact
		.container.clearfix
			%img(class="photo" src="images/mnc_arbory.jpg")
			.headline
				%h2 i'm melissa
				%br
				%p aspiring web developer living in chicago...for now...
			%section
				%a(href="twitter.com/thursdayateight") @thursdayateight		


